@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');


:root {
  font-family: 'Josefin Sans', sans-serif; 
  font-weight: 400;
  font-size: 18px;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --bright-blue: hsl(220, 98%, 61%);
  --check-background: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);

  --very-dark-blue: hsl(235, 21%, 11%);
  --very-dark-desaturated-blue: hsl(235, 24%, 19%);
  --light-grayish-blue: hsl(234, 39%, 85%);
  --light-grayish-blue-hover: hsl(236, 33%, 92%);
  --dark-grayish-blue: hsl(234, 11%, 52%);
  --very-dark-gryayish-blue: hsl(233, 14%, 35%);
  --vary-dark-gryaish-blue-alternative: hsl(237, 14%, 26%);

  background-color: var(--very-dark-blue);
}

body {
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    --very-light-gray: hsl(0, 0%, 98%);
    --very-light-grayish-blue: hsl(236, 33%, 92%);
    --light-grayish-blue:  hsl(233, 11%, 84%);
    --dark-grayish-blue: hsl(236, 9%, 61%);
    --vary-dark-grayish-blue: hsl(235, 19%, 35%);

    background-color: var(--very-light-gray);
  }
}
