.comment-likes-bar{
    padding: 0.75rem;
    height: 75px;
    width: 20px;
    border-radius: 0.5rem;
    background-color: var(--very-light-gray);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.comment-likes-bar .likes{
    color: var(--moderate-blue);
}

.comment-likes-bar svg{
    cursor: pointer;
}